<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">&nbsp;</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% for m in menu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ app.request.baseUrl }}{% if default_locale != app.request.locale %}{{ '/' ~ app.request.locale }}{% endif %}{% if m.page.slug != "index" %}{{ '/' ~ m.page.slug }}{% else %}/{% endif %}">{{ m.translates[0].translate }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav">
            {% for locale in locales %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ app.request.baseUrl ~ '/' }}{% if default_locale != locale %}{{ locale ~ '/' }}{% endif %}{{ pageName }}">{{ locale|upper }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
